**install pandas**

In [2]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

ekstrak file CSV dari web kaggle.com

In [6]:
import pandas as pd

url = "https://storage.googleapis.com/kagglesdsdata/datasets/2071569/3798307/Soccer_Football%20Clubs%20Ranking%20in%20june.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20230525%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20230525T111123Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=23e4fd381298317f83b98c79081dd0258d0d48fae63c2b7bdfec0f9c56f2db5c510d71a30461e4796062ae9c9c78ed9ab2faaf87788466052f69c06edf9ab712f6856a2c65984303315a4544abeba28963757b36f7ff9e8f2658a823f97bc600c6c4c70f5215c7bed18236a079d11fe90818d981eb38aee69f2ec5458d862448d13571a01e18f3670f5113cac6a5c0618b93c9749a71441cc329e2ba6e028b637ce5874a65a72f2f7ad2340edfa644b1c78618ed16303b64b500516a32f2781a900d3e7894a22d06d45f0e0e80f5485d0321294326618302870c4cc94f632494a3166ea02f92b659ec4c3a615abb25c9f64668cd462d59a309726a1856440df6"
df_club = pd.read_csv(url)

#Menampilkan 5 data teratas
print(df_club.head)

<bound method NDFrame.head of       ranking               club name\r                 country  \
0          65                1. FC Köln                 Germany
1          34        1. FC Union Berlin                 Germany
2         967  12 de Octubre de Itaugua                Paraguay
3         265              1º de Agosto                  Angola
4        2530                1º de Maio                  Angola
...       ...                       ...                     ...
2765      298           Zrinjski Mostar  Bosnia and Herzegovina
2766     1312                     Zulia               Venezuela
2767     1241             Zulte Waregem                 Belgium
2768     2386                   Zumunta                   Niger
2769      313                    Zürich             Switzerland

      point score\r\n  1 year change\r  previous point scored\r\n  \
0                1668              160                       1529
1                1748               32                       1665
2                1352              270                       1390
3                1512               11                       1518
4                1218               24                       1218
...               ...              ...                        ...
2765             1497              141                       1449
2766             1313               34                       1317
2767             1320              479                       1377
2768             1231               34                       1231
2769             1490              386                       1390

     symbol change\r\n
0                    +
1                    +
2                    -
3                    -
4                    -
...                ...
2765                 +
2766                 -
2767                 -
2768                 -
2769                 +

[2770 rows x 7 columns]>

**Menampilkan data berdasarkan urutan ranking teratas**

In [15]:
df_rank = df_club.sort_values(by = 'ranking')
print(df_rank)

      ranking              club name\r              country  point score\r\n  \
1550        1             Liverpool FC              England             2042
1612        2          Manchester City              England             2013
2104        3              Real Madrid                Spain             2010
379         4           Bayern München              Germany             1955
1325        5              Inter Milan                Italy             1917
...       ...                      ...                  ...              ...
693      2766           Dainava Alytus            Lithuania             1128
818      2767         Dungannon Swifts     Northern Ireland             1122
2676     2768         Warrenpoint Town     Northern Ireland             1116
1061     2769                 FK Metta               Latvia             1090
1492     2770  La Horquetta Rangers FC  Trinidad and Tobago             1068

      1 year change\r  previous point scored\r\n symbol change\r\n
1550                5                       1899                 +
1612                0                       1982                 +
2104                1                       1937                 +
379                 3                       2052                 -
1325                2                       1944                 -
...               ...                        ...               ...
693                 2                       1114                 +
818                 0                       1129                 -
2676               10                       1150                 -
1061                0                       1099                 -
1492                0                       1068                 -

[2770 rows x 7 columns]

In [24]:
df_total_club_by_country = df_club['country'].value_counts()

In [25]:
print(df_total_club_by_country)

Nigeria       47
Zimbabwe      47
Congo DR      46
Romania       45
India         43
              ..
Togo           1
Malaysia       1
Tajikistan     1
Guyana         1
Belize         1
Name: country, Length: 134, dtype: int64

In [26]:
df_total_club_by_country_desc = df_total_club_by_country.sort_values(ascending= False)
print(df_total_club_by_country_desc)

Nigeria       47
Zimbabwe      47
Congo DR      46
Romania       45
India         43
              ..
Togo           1
Malaysia       1
Tajikistan     1
Guyana         1
Belize         1
Name: country, Length: 134, dtype: int64

In [28]:
df = df_club.groupby('country').size()
df_sort = df.sort_values(ascending= False)
print(df_sort)

country
Zimbabwe    47
Nigeria     47
Congo DR    46
Romania     45
India       43
            ..
Burundi      1
Kenya        1
Belize       1
Malaysia     1
Guyana       1
Length: 134, dtype: int64

In [35]:
df_england = df.loc['England']
print(df_england)

39